<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>
        Logged user: <span sec:authentication="name">Bob</span>
    </p>
    <p>
        <span sec:authorize="isAnonymous()">If this renders then the user is not authorized and so is deemed to be anonymous</span>
    </p>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users with role ROLE_USER.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators with ROLE_ADMIN.
    </div>
    <div sec:authorize="isAuthenticated()">
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form> 
    </div>
</body>
</html>
